.root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;

  .message-listing {
    flex: 35%;
    background-color: white;
  }

  .user-chat {
    flex: 65%;
    background-color: red;
  }
}