@import "../global/primitives/colors";
.root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
  .loginContainer {
    flex: 30%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px 40px;
  }

  .carousalContainer {
    flex: 70%;
    background-color: $primaryColor;
  }


}
